@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@layer base {
    html {
      font-family:  'Open Sans', sans-serif;
    }
}

.min-w-24 {
    min-width: 6rem;
}

.w-custom {
    min-width: 1024px !important;
    transform: translateX(-50%);
}
.h-custom {
    height: calc(23rem * 4);
}

.grid-rows-4-custom {
    grid-template-rows: repeat(4, 23rem);
}

.-translate-x-full-2 {
    transform: translateX(-200%);
}


.gradient-custom {
    background: linear-gradient(to bottom, #030d29 2%, #112345 30%, #911c1c 75%, #5e0a6f);
}

.outline-10 {
    outline-width: 10px;
}

.translate-x-center {
   transform: translateX(-50%); 
}

.max-w-500 {
    max-width: 500px;
}
.max-w-96 {
    max-width: 24rem;
}

.bg-gradient {
    background: linear-gradient(to bottom, #030d29 3%, #112345);
}

.bg-gradient-2 {
    background: linear-gradient(to bottom, #290305 1%, #911c1c 45%, #5e0a6f);
}

.minus-left {
    left: -2px;
}

.grid-rows-4-256 {
    grid-template-rows: repeat(6, 21rem)
}
.grid-rows-1-2 {
    grid-row-start: span 2;
}

.shadow-custom-1 {
    box-shadow: inset 0px 20px 60px 95px #112345;
}

.shadow-custom-2 {
    box-shadow: inset 0px 20px 60px 95px #290305;
}

.shadow-custom-3 {
    box-shadow: inset 0px 20px 60px 95px #5e0a6f;
}
@media (max-width:680px) {
    .tablet\:w-custom {
        width: 1024px !important;
    }

    .tablet\:-translate-x-full-2-1\/2 {
        transform: translateX(-150%);
    }

    .tablet\:grid-rows-4-256 {
        grid-template-rows: repeat(6, 12rem) !important;
    }

    .tablet\:h-custom {
        height: calc(13rem * 4) !important;
    }
    
}

